
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		    <p class="noveltitle"><%= @novel.title %></p>
			<div class="writer">作者：<%= @novel.user.name %></div>
			<p>あらすじ</p>
			<p><%= @novel.synopsis %></p>
			<div>ジャンル：<%= @novel.genre %></div>
			<div class="well well-sm">
			<% @pages.each do |page| %>
			<%= link_to page.title, novel_page_path(@novel, page) %>
            <% end %>
            </div>
        </div>
    </div>
</div>

