<div class="container">
	<div class="row">
		<div class="sidebar col-md-4">
			<h1 class="small-title">ファンタジー</h1>
			<% @genre_ranks.first(5).each do |genre| %>
	    	<div class="panel panel-default">
				            <div class="panel-heading">
					            <h5 class="panel-title"><%= link_to genre.title, novel_path(genre.id) %></h5>
					            <div class="writer-name">
					            	<h5>
					            		<%= link_to genre.user.name, user_path(genre.user.id) %>
					            	</h5>
					            </div>
					        </div>
				            <div class="panel-body">
				            	<%= genre.synopsis.truncate(30) %>
				            </div>
			            </div>
			<% end %>



            <h1 class="small-title">恋愛</h1>
			<% @genre2_ranks.first(5).each do |genre| %>
		    	<div class="panel panel-default">
					<div class="panel-heading">
						<h5 class="panel-title"><%= link_to genre.title, novel_path(genre.id) %></h5>
						<div class="writer-name">
			            	<h5>
			            		<%= link_to genre.user.name, user_path(genre.user.id) %>
			            	</h5>
						</div>
				    </div>
					<div class="panel-body">
		            	<%= genre.synopsis.truncate(30) %>
		            </div>
				</div>
			<% end %>
		</div>
		<div class="novels col-md-4">

			<div class="content">
				<h1 class="small-title">新着小説</h1>
				<% @novel.last(5).reverse_each do |novel| %>
					<% if novel.pages.count >= 1 %>
						<div class="panel panel-default">
				            <div class="panel-heading">
					            <h5 class="panel-title"><%= link_to novel.title, novel_path(novel) %></h5>
					            <% if novel.user.name.present? %>
					            <div class="writer-name"><h5><%= link_to novel.user.name, user_path(novel.user.id) %></h5></div>
					            <% else %>
					            <div class="writer-name"><h5>退会済み</h5></div>
					            <% end %>
					        </div>
				            <div class="panel-body"><%= novel.synopsis.truncate(50) %></div>
			            </div>
			        <% end %>
	            <% end %>
			</div>
			<div class="content">
				<h1 class="small-title">いいねランキング5</h1>

				<% @ranks.each.with_index(1) do |novel, i| %>
						<div class="panel panel-default">
				            <div class="panel-heading">
					            <h5 class="panel-title"><%= link_to novel.title, novel_path(novel) %></h5>
					            <div class="writer-name">
					            	<h5>
					            		<%= link_to novel.user.name, user_path(novel.user.id) %>
					            	</h5>
					            </div>
					        </div>
				            <div class="panel-body">
				            	<%= novel.synopsis.truncate(50) %>
				            </div>
			            </div>
		        <% end %>
		    </div>
		</div>

	    <div class="sidebar col-md-4">

		    	<h1 class="small-title">ミステリー</h1>
		    	<% @genre3_ranks.first(5).each do |genre| %>
			    	<div class="panel panel-default">
						<div class="panel-heading">
							<h5 class="panel-title"><%= link_to genre.title, novel_path(genre.id) %></h5>
							<div class="writer-name">
				            	<h5>
				            		<%= link_to genre.user.name, user_path(genre.user.id) %>
				            	</h5>
							</div>
					    </div>
						<div class="panel-body">
			            	<%= genre.synopsis.truncate(30) %>
			            </div>
					</div>
		    	<% end %>

		    	<h1 class="small-title">ホラー</h1>
		    	<% @genre4_ranks.first(5).each do |genre| %>
		    	<div class="panel panel-default">
					<div class="panel-heading">
						<h5 class="panel-title"><%= link_to genre.title, novel_path(genre.id) %></h5>
						<div class="writer-name">
			            	<h5>
			            		<%= link_to genre.user.name, user_path(genre.user.id) %>
			            	</h5>
						</div>
				    </div>
					<div class="panel-body">
		            	<%= genre.synopsis.truncate(30) %>
		            </div>
				</div>
				<% end %>
		    </div>
		</div>
	</div>