<div class="container">
	<div class="row">
		<div class="side-bar col-md-3">
			<div>運営側お知らせ掲示板</div>
		</div>
		<div class="novels col-md-4 col-md-offset-1">

			<div class="content">
				<h3>新着小説</h3>

				<% @novel.last(5).each do |novel| %>
					<div class="panel panel-info">
			            <div class="panel-heading">
				            <h5 class="panel-title"><%= link_to novel.title, novel_path(novel) %></h5>
				            <div class="writer-name"><h5><%= link_to novel.user.name, user_path(novel.user.id) %></h5></div>
				        </div>
			            <div class="panel-body"><%= novel.synopsis.truncate(50) %></div>
		            </div>
	            <% end %>
			</div>
			<div class="content">
				<h3>いいねトップ</h3>

				<% @ranks.each.with_index(1) do |novel, i| %>
						<div class="panel panel-danger">
				            <div class="panel-heading">
					            <h5 class="panel-title"><%= link_to novel.title, novel_path(novel) %></h5>
					            <div class="writer-name">
					            	<h5>
					            		<%= link_to novel.user.name, user_path(novel.user.id) %>
					            	</h5>
					            </div>
					        </div>
				            <div class="panel-body">
				            	<%= novel.synopsis.truncate(50) %>
				            </div>
			            </div>
		        <% end %>
		    </div>
		</div>

	    <div class="sidebar col-md-3 col-md-offset-1">
	    	<h3>ファンタジーランキング</h3>
	    	<% @genre_ranks.each.with_index(1) do |genre| %>
	    	<%= link_to genre.title, novel_path(genre.id) %>
	    	<div class="alert alert-success" role="alert"><%= genre.synopsis.truncate(30) %></div>
	    	<% end %>

	    	<h3>恋愛ランキング</h3>
	    	<% @genre2_ranks.each.with_index(1) do |genre| %>
	    	<%= link_to genre.title, novel_path(genre.id) %>
	    	<div class="alert alert-success" role="alert"><%= genre.synopsis.truncate(30) %></div>
	    	<% end %>

	    	<h3>ミステリーランキング</h3>
	    	<% @genre3_ranks.each.with_index(1) do |genre| %>
	    	<%= link_to genre.title, novel_path(genre.id) %>
	    	<div class="alert alert-success" role="alert"><%= genre.synopsis.truncate(30) %></div>
	    	<% end %>

	    	<h3>ホラーランキング</h3>
	    	<% @genre4_ranks.each.with_index(1) do |genre| %>
	    	<%= link_to genre.title, novel_path(genre.id) %>
	    	<div class="alert alert-success" role="alert"><%= genre.synopsis.truncate(30) %></div>
	    	<% end %>
	    </div>
	</div>
</div>