
<%= form_for @novel, :url => novels_path do |f| %>
<div class="container">
	<div class="row">
		<div class="form-group col-md-6 col-md-offset-3">
			<h1>小説登録</h1>
			<tr>小説タイトル<span>（必須）</span>
				<div class="form-group"><%= f.text_field :title ,class:'form-control'%></div>
            </tr>

            <tr>あらすじ<span>（必須）</span>
                <div class="form-group"><%= f.text_field :synopsis ,class:'form-control'%></div>
            </tr>

            <tr>ジャンル<span>（必須）</span>
                <div class="form-group"><%= f.select :genre,[["ファンタジー・冒険・SF", "ファンタジー"], ["恋愛", "恋愛"],  ["ミステリー・サスペンス", "ミステリー"], ["歴史", "歴史"],["ホラー・オカルト", "ホラー"] ], class:'form-control' %>
                </div>
            </tr>
            <tr>タグ設定
            <div class="field form-group form-group-lg">
              <%= f.label :tag_list, '半角カンマ区切りで入力してください', class: "tag control-label" %>
              <%= text_field_tag 'novel[tag_list]', @novel.tag_list.join(","), class: "form-control" %>
            </div>
            </tr>
            <h2>公式タグ</h2>
            <div class="tag-box">
                <p><strong>＜作品傾向＞</strong>ギャグ,シリアス,ほのぼの,ダーク,ハイファンタジー,王道,ローファンタジー</p>

                <p><strong>＜登場キャラクター＞</strong>男主人公,女主人公,人外,魔王,勇者</p>

                <p><strong>＜舞台＞</strong>和風,西洋,中華,学園,中世</p>

                <p><strong>＜時代設定＞</strong>戦国,幕末,明治/大正,昭和,平成,古代,中世,近世,近代,現代,未来</p>

                <p><strong>＜要素＞</strong>ロボット,アンドロイド,職業もの,ハーレム,逆ハーレム,群像劇,チート,内政,魔法,冒険,ミリタリー,日常,ハッピーエンド,バッドエンド,グルメ,青春,ゲーム,超能力,タイムトラベル,ダンジョン,パラレルワールド,タイムリープ
                </p>
            </div>

            <%= f.submit '登録', class:'btn btn-primary' %>
        </div>
    </div>
</div>
<% end %>
