<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<p class="noveltitle"><%= @novel.title %></p>
				<div class="writer">作者：<%= @novel.user.name %></div>
				<p>あらすじ</p>
				<p><%= @novel.synopsis %></p>
				<div>ジャンル：<%= @novel.genre %></div>
				<div class="button1"><%= link_to 'この小説を読む', novel_pages_path(@novel.id), class:'btn btn-primary' %></div>
				<div class="button1">
					<%= link_to '小説の続きを投稿する', new_novel_page_path(@novel.id), class:'btn btn-danger' %>
				</div>
					<%= link_to '小説を編集する', edit_novel_path(@novel.id) %>
				</div>
		    </div>
        </div>
    </div>
</div>
