<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<p class="noveltitle"><%= @novel.title %></p>
				<div class="writer">作者：<%= @novel.user.name %></div>
				<p>あらすじ</p>
				<p><%= @novel.synopsis %></p>
				<div>ジャンル：<%= @novel.genre %></div>
				<div>タグ：
				  <span class="label label-info">
				  	<%= raw @novel.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></span>
			    </div>
				<div class="button1"><%= link_to 'この小説を読む', novel_pages_path(@novel.id), class:'btn btn-primary' %></div>
				<% if @history.present? %>
				<div class="button1"><%= link_to '続きから読む', novel_page_path(@novel.id, @history.page.id), class:'btn btn-primary' %></div>
				<% end %>
				<% if @novel.user_id == current_user.id %>
					<div class="button1">
						<%= link_to '小説の続きを投稿する', new_novel_page_path(@novel.id), class:'btn btn-danger' %>
					</div>
						<p><%= link_to '小説を編集する', edit_novel_path(@novel.id) %></p>
					</div>
				<% else %>
					<% if @novel.favorited_by?(current_user) %>
						<%= link_to novel_favorite_path(@novel, @favorite), method: :delete do %>
							<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
							<%= @novel.favorites.count %>いいね
								<% if @novel.cliped_by?(current_user) %>
									<p><%= link_to "ブックマークを削除する", novel_clip_path(@novel, @clip.id), method: :delete %></p>
								<% else %>
									<p><%= link_to "ブックマークに追加する",novel_clips_path(@novel ), method: :post %></p>
								<% end %>
						<% end %>
					<% else %>
						<%= link_to novel_favorites_path(@novel), method: :post do %>
							<i class="fa fa-heart-o" aria-hidden="true"></i>
							<%= @novel.favorites.count %>いいね
							<% if @novel.cliped_by?(current_user) %>
								<p><%= link_to "ブックマークを削除する", novel_clip_path(@novel, @clip.id), method: :delete %></p>
							<% else %>
								<p><%= link_to "ブックマークに追加する",novel_clips_path(@novel ), method: :post %></p>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
		    </div>
        </div>
    </div>
</div>
